.success-p {
  background-color: #64b96d;
}
.success-s {
  background-color: #b5dda4;
  color: #205e3b;
}
.danger-p {
  background-color: #d91e36;
}
.danger-s {
  background-color: #ec5766;
  color: #5d1212;
}
.card {
  display: flex;
  flex-direction: row;
}
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em;
}
.register-container > * {
  margin: 2em;
}
.register-container > div {
  margin-top: auto;
}
.status-icon {
  width: 15em !important;
  height: 15em !important;
  color: white !important;
}
.login-btns {
  display: grid;
  grid-template-columns: 50% 50%;
}
.login-btns > * {
  margin: 1em;
}
@media screen and (max-height: 768px) {
  .register-container {
    flex-direction: row !important;
  }
}
