.login {
  border: #decdf5 3px solid;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.login > * {
  margin: 0.5em;
  color: black;
}
.login > div > p {
  margin-right: 1em;
  margin-bottom: 0;
}
.login > div > input {
  margin-left: auto;
}
.login > div {
  display: flex;
  align-items: center;
}
.btn {
  color: white;
}
